:root {
  --primary: #2cd3e2;
  --secondary: #59e656;
  --body: #0f161a;
  --code: #1c2426;
  --blockquote: #1a2123;
  --blockquote-border: #68c8f8;
  --font: #d6dbda;
  --link: var(--primary);

  --modern-code: #b5d8de;
  --function: #e2e097;
  --type: #0099f1c0;
  --string: #c87337;
  --variable: #11b3e4;
}
/* MODERN-CODE {
    color: var(--modern-code);
  } */

FUNCTION {
  color: var(--function);
}
VARIABLE {
  color: var(--variable);
}

TYPE {
  color: var(--type);
}

STRING {
  color: var(--string);
}

a {
  color: var(--link);
}

body {
  background-color: var(--body);
  padding: 1cm;
  color: var(--font);
  height: 100%;
}

code {
  background-color: var(--code);
}

blockquote {
  display: block;
  background-color: var(--blockquote);
  border-color: var(--blockquote-border);
  border-radius: 5px;
  font-weight: 400;
  padding: 10px;
  border-left-width: 4px;
}
/* blockquote p {
    padding:0;
    margin:0;
  } */
p {
  padding: 0;
  margin: 0;
}
